body{
    margin: 0;
    padding: 0;



}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

p{
    line-height: 180%;
}

.img-responsive{
    width: 100%;
}
.ai-center{
    align-items: center;
}

